<mat-toolbar color="primary" class="contenedor">
  <div class="titulo">
    <span>BIBLIOTECA VIRTUAL</span>
  </div>
  <div class="botones">
    <button mat-raised-button routerLink="libros">Inicio</button>
    <button mat-raised-button routerLink="autores">Autores</button>
    <button mat-raised-button routerLink="categorias">Categorias</button>
    <button mat-raised-button routerLink="editoriales">Editoriales</button>
    <button mat-raised-button routerLink="lectores">Lectores</button>
    <button mat-raised-button routerLink="alquileres">Alquileres</button>
  </div>
</mat-toolbar>
